@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>
<br />
<br />


<div class="row justify-content-center align-items-center mt-5">
    <form asp-action="Index" class="row col-8 offset-1">
        <div class="col-8">
            <input type="search" class="form-control" name="email" PlaceHolder="Search By Name" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>


@if (Model.Count() > 0)
{
    <table class="mt-3 table table-striped table-hover">
        <thead>
            <tr>
                <td> @Html.DisplayNameFor(U=>U.ID)</td>
                <td> @Html.DisplayNameFor(U=>U.FName)</td>
                <td> @Html.DisplayNameFor(U=>U.LName)</td>
                <td> @Html.DisplayNameFor(U=>U.Email)</td>
                <td> @Html.DisplayNameFor(U=>U.PhoneNumber)</td>
                <td> @Html.DisplayNameFor(U=>U.Roles)</td>

                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(M=>user.ID)</td>
                    <td>@Html.DisplayFor(M=>user.FName)</td>
                    <td>@Html.DisplayFor(M=>user.LName)</td>
                    <td>@Html.DisplayFor(M=>user.Email)</td>
                    <td>@Html.DisplayFor(M=>user.PhoneNumber)</td>
                    <td>@string.Join(" ", user.Roles)</td>


                    <partial name="Buttons" model="@user.ID" />
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There is No Users!</h3>
    </div>

}

